<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Intrro Connect</title>


  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

      <link rel="stylesheet" href="css/style.css">


</head>

<body>

  <div class="bottomImageContainer">
    <img src="./Assets/bottomBg.svg" class="bottomImage">
  </div>

  <div class="mainBox">

  <div class="rightImageContainer">
    <img src="./Assets/rightImage.jpg" class="rightImage">
    <div class="logoContainer">
      <img src="./Assets/logo.svg" class="logo">

    </div>
    </div>

  <div class="leftContentContainer">
    <div class="topText">
      <h1 class="connectLabel">Connect</h1>
      <h4 class="subLabel">To get you started, please connect with at least one of
  your social channels below and download your contact list</h4>

    </div>
<div class="connectButtons">
  <main v-cloak>
<div class="linkedinGuide"><button type="button" value="linkedin" class="buttonLayout"><input type="image" src="./Assets/linkedinButton.svg" class="linkedInAction" @click="toggleModal()"></button></div>
  <div class="gmailButton"><button type="button" value="gmail" class="buttonLayout"><input type="image" src="./Assets/gmail.svg" class="gmailButtonAction"></button></div>
  <div class="githubButton"><button type="button" value="github" class="buttonLayout"><input type="image" src="./Assets/github.svg" class="githubButtonAction"></button></div>
  <div class="dribbbleButton"><button type="button" value="dribbble" class="buttonLayout"><input type="image" src="./Assets/dribbble.svg" class="dribbbleButtonAction"></button></div>

  <div class="completeButton"><button type="button" value="complete" class="buttonLayout"><input type="image" src="./Assets/complete.svg" class="completeButtonAction"></button></div>

  <!--  The Modal -->
  <boardal v-if="modal.isOpen" :has-mask="modal.hasMask" :can-click-mask="modal.canClickMask" :has-x="modal.hasX" @toggle="toggleModal">
    <article v-cloak>
      <section>
        <div class="leftTextContainer">


<h1 class="connectLinkedInLabel">Connect with LinkedIn</h1>
<h4 class="connectStep1">Click the Go to LinkedIn button below. This would take you to your LinkedIn Data page where you may be asked to login. Navigate to 'Privacy' Tab.</h1>
<div class="gotolinkedin"><button type="button" name="gotolinkedin" class="buttonLayout"><input type="image" src="./Assets/gotolinkedin.svg" class="gotolinkedinaction"></button></div>
</div>
<div class="rightContainer">
  <img src="./Assets/step1.jpg" alt="" class="stepImage">
</div>
      </section>
      <section>

        <div class="leftTextContainer">


<h1 class="connectLinkedInLabel">Request your Data</h1>
<h4 class="connectStep1">Under the <span class="boldWords">'Download your Data'</span> Section, Select <span class="boldWords">'Connections'</span>. Then click the <span class="boldWords">'Request Archive'</span> Button and type in your password if prompted. LinkedIn will then send you an email when your file is ready.</h1>
</div>
<div class="rightContainer">
  <img src="./Assets/step2.jpg" alt="" class="stepImage">
</div>
</section>
      <section>

        <div class="leftTextContainer">


        <h1 class="connectLinkedInLabel">Download your Data</h1>
        <h4 class="connectStep1">When you receive your email, Click on the required link where you will be redirected back to the Download your connections data page in LinkedIn. Click the <span class="boldWords">'Download Archive'</span> button and download your data file and <span class="boldWords">Upload it below</span></h1>

<div class="file-upload">

  <div class="image-upload-wrap">
      <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
      <div class="drag-text">
        <h3>Drag and drop your CSV or Click here to select</h3>
      </div>
    </div>
    <div class="file-upload-content">
      <img class="file-upload-image" src="#" alt="your image" />
      <div class="image-title-wrap">
        <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
      </div>
    </div>
  </div>








        </div>



        <div class="rightContainer">
        <img src="./Assets/step3.jpg" alt="" class="stepImage">
        </div>



      </section>

    </article>
    <footer>
      <div class="forward-actions">
<!--         <button class="secondary skip" :disabled="isLastStep" v-show="!isLastStep" @click="skip(2)">Skip</button> -->
        <button class="primary next" :disabled="isLastStep" v-show="!isLastStep" @click="skip(1)"><i class="fa fa-fw fa-lg" :class="nextIcon"></i></button>
        <button class="accent save" :disabled="!isLastStep" v-show="isLastStep" @click="finish"><i class="fa fa-fw fa-lg fa-check"></i></button>
      </div>
      <div class="step-dots" v-if="hasDots">
        <div class="step-dot" v-for="n in max" :class="{active: n == step}" @click="goToStep(n)"></div>
      </div>
      <div class="back-actions">
        <button class="secondary cancel prev" :disabled="isFirstStep" xv-show="!isFirstStep" @click="skip(-1)"><i class="fa fa-fw fa-lg" :class="backIcon"></i></button>
      </div>
    </footer>
  </boardal>
  </div>
</main>



<script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
